extends layout

block content
  h1= title
  form(action="/new" method="get")
    button(type="submit") Post
  each message in messages
    .message
      p.details
        strong
          span= message.user
          | &nbsp;· 
          span= message.added.toLocaleDateString() + " " + message.added.toLocaleTimeString()
      
      p.text= message.text