extends layout

block content
  h1= title
  form(action="/new" method="get")
    button(type="submit") Post
  each message in messages
    .message
      p.text= message.text
      p.user= "Posted by: " + message.user
      p.date= "On: " + message.added.toLocaleDateString() + " " + message.added.toLocaleTimeString()
